Django~=4.2.2
python-dotenv~=1.0.0
requests~=2.31.0
django-multiupload~=0.6.1
pandas~=2.0.2
inflect~=7.0.0
beautifulsoup4~=4.12.2
django-storages~=1.13.2
boto3~=1.28.2
Pillow~=10.0.0
wheel~=0.36.2
urllib3~=1.26.16
tzdata~=2023.3
typing-extensions~=4.7.1
sqlparse~=0.4.4
soupsieve~=2.4.1
six~=1.16.0
setuptools~=57.0.0
s3transfer~=0.6.1
pytz~=2023.3
python-dateutil~=2.8.2
pydantic~=2.0.2
pydantic-core~=2.1.2
pip~=21.1.2
numpy~=1.25.1
jmespath~=1.0.1
idna~=3.4
charset-normalizer~=3.2.0
certifi~=2023.5.7
botocore~=1.31.2
asgiref~=3.7.2
annotated-types~=0.5.0
