{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>About Us</h2>
        <p>Someone who strongly believes that artificial intelligence will improve the productivity
            and overall standard of living of human beings, allowing us to spend more time on
            personal development and self-cultivation. Sustainability and inner well beings
            are key to world stability and peacefulness.</p>
        <p>Learning various skills like Python and artificial intelligence in mid-life can be challenging,
            but with the help of ChatGPT, this web app is made possible.</p>
        <p>If you like this web app, feel free to buy me a meal or a drink via
            <a href="https://paypal.me/chweemaw?country.x=SG&locale.x=en_GB">Paypal</a>.
            Thank you! <i class="fas fa-smile"></i></p>
    </div>
{% endblock %}
