{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Frequently Asked Questions</h2>

        <h5>Q: How do I create a new recipe?</h5>
        <p>A: To create a new recipe, go to the "Create Recipe" page and fill out the required fields,
            such as title, description, ingredients, and instructions. You can also upload an image
            and add a youtube URL.</p>

        <h5>Q: Can I edit or delete a recipe that I have created?</h5>
        <p>A: Yes, if you are the author of a recipe, you can edit or delete it.
            Go to the "Account" page and find your uploaded recipes. You will have options to edit or
            delete each recipe.</p>

        <h5>Q: How can I search for recipes with specific criteria?</h5>
        <p>A: On the "Search Recipes" page, you can use the search filters to find recipes based on title,
            types and ingredients. Enter the desired criteria and click the search button to see the matching
            recipes.</p>

        <h5>Q: Are there any limitations on the types of ingredients or types I can use?</h5>
        <p>A: You can use any ingredients or types you like in your recipes. Due to the limited internal ingredients
            list, some ingredient tags might not be generated according to your intention. </p>

        <h5>Q: Can I upload images for my recipes?</h5>
        <p>A: Yes, you can upload an image for your recipe. When creating or editing a recipe, you will have
            the option to select an image file from your device.</p>

        <h5>Q: How can I contact the administrator or report an issue?</h5>
        <p>A: If you have any questions, feedback, or encounter any issues, you can use the "Contact Us"
            page to send a message to the administrator. They will respond to your inquiry as soon as possible.</p>

        <h5>Q: Can I share my recipes with others?</h5>
        <p>A: Yes, you can share your recipes by providing the recipe's URL to others. They can then visit
            the recipe page and view the details, including the ingredients, instructions, and any uploaded images.</p>

        <h5>Q: How can I contribute to the list of available ingredients?</h5>
        <p>A: If you have suggestions for new ingredients to be added to the system, you can contact
            the administrator through the "Contact Us" page and provide the details of the ingredients you would
            like to see added.</p>
    </div>
{% endblock %}
