{% extends 'base.html' %}

{% block content %}
    {% if write_enabled == 'read-only' %}
        <div class="upgrade-warning">
            Currently, we are upgrading this website so only read is available.
            Please do not create or edit any account, recipes and comments.
        </div>
    {% endif %}
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label for="id_password1" class="form-label">Password</label>
                {{ form.password1 }}
                <small id="passwordHelp" class="form-text text-muted">Your password must be at least 8 characters long and should contain a combination of letters, numbers, and special characters.</small>
            </div>
            <div class="mb-3">
                <label for="id_password2" class="form-label">Confirm Password</label>
                {{ form.password2 }}
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}



